* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1600px;
}

.margin-site {
    margin-left: 230px;
    margin-right: 230px;
}

.header {
    display: flex;
}

.logo {
    display: flex;
    margin-top: 25px;
    margin-bottom: 24px;
}

.brand {
    padding-top: 20px;
    padding-bottom: 12px;
    padding-left: 13px;
    text-decoration: none;
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
}

.brand-pink {
    color: #f16d7f;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.68px;
}

.form {
    margin-left: 37px;
    margin-top: 32px;
    margin-bottom: 30px;
}

.browse {
    width: 87px;
    height: 38px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    color: #838383;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
}

.form input {
    width: 280px;
    height: 36px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    padding-left: 3px;
}

.magnifier {
    width: 37px;
    height: 37px;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
}


.my-account {
    display: flex;
    margin-top: 31px;
    margin-bottom: 31px;
    margin-left: 335px;
}

.basket {
    padding-top: 9px;
}

.account {
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    margin-left: 26px;
}

.header1 {
    border: 1px solid #ececec;
}

.menu {
    padding-top: 19px;
    padding-bottom: 22px;
    margin-left: 460px;
    margin-right: 460px; 
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.menu-list {
    display: inline-block;
}

.menu-link {
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
}

.boy-backcolor {
    background-color: #e8e8e8;
    position: relative;
    overflow: hidden;
    min-height: 613px;
}

.boy-photo {
    position: absolute;
    background-image: url(img/boy.jpg);
    height: 613px;
    width: 1365px;
    left: 225px;
}

.boy-text {
    margin-top: 224px;
    border-left: 12px solid #f16d7f;
    margin-bottom: 294px;
    display: inline-block;
}

.TheBrand {
    color: #222222;
    font-size: 60px;
    font-weight: 650px;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
}

.lux {
    font-size: 40px;
    font-style: normal;
    letter-spacing: 1.5px;
    font-weight: 650;
}

.fashion {
    color: #f16d7f;
    font-style: normal;
    letter-spacing: 1px;
}

.offer {
    background-color: #222224;
    display: flex;
    min-height: 529px;
}

.offer-photo {
    background-image: url(img/offer.png);
    min-width: 766px;
    min-height: 529px;
}

.offer-text {
    margin-left: 39px;
    margin-top: 146px;
    min-width: 293px;
    min-height: 78px;
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
}


.offer-pink {
    color: #f16d7f;
    font-style: normal;
    letter-spacing: 1.5px;
}

.text-women {
    font-size: 32px;
    font-style: normal;
    font-size: 32px;
    font-style: normal;
    letter-spacing: 0.9px;
}

.offer-content {
    display: flex;
    flex-direction: column;
}

.free {
    height: 176px;
    width: 373px;
    display: flex;
}

.free-img {
    margin-left: 36px;
    margin-top: 48px;
}

.free-text {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 43px;
}

.free-h4 {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    letter-spacing: 0.5px;
}

.free-p {
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    letter-spacing: 0.35px;
    line-height: 24px;
    padding-top: 17px;
}


.sales {
    width: 373px;
    height: 176px;
    display: flex;
}

.sales-img {
    margin-left: 36px;
    margin-top: 48px;
}

.sales-text {
    margin-top: 50px;
    margin-left: 35px;
    margin-right: 43px;
    min-height: 95px;
    min-width: 219px;
}

.sales-h4 {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    letter-spacing: 0.5px;
}

.sales-p{
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    letter-spacing: 0.35px;
    line-height: 24px;
    padding-top: 21px;
}

.quality {
    width: 373px;
    height: 176px;
    display: flex;
}

.quality-img {
    margin-left: 32px;
    margin-top: 48px;
}

.quality-text {
    margin-left: 32px;
    margin-right: 43px;
    margin-top: 50px;
}

.quality-h4 {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    letter-spacing: 0.5px;
}

.quality-p {
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    letter-spacing: 0.35px;
    line-height: 24px;
    padding-top: 17px;
}