* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1147px;
    margin: 0 auto;
}

.header {
    display: flex;
}

.logo {
    display: flex;
    margin-top: 25px;
}

.search {
    display: flex;
    margin-top: 31px;
    margin-bottom: 31px;
    margin-left: 46px;
}

.my-account {
    display: flex;
    margin-top: 31px;
    margin-bottom: 31px;
    margin-left: 343px;
}

.logo a {
    text-decoration: none;
}

.logo_p {
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    padding-left: 12px;
    padding-top: 20px;
}

.logo_d {
    color: #f16d7f;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.68px;
    line-height: normal;
}


.button_browse {
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    width: 87px;
    height: 38px;
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    line-height: 32px;
    letter-spacing: 0.35px;
}

.input_search {
    width: 280px;
    height: 36px;
    border: none;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
}

.button_magnifier {
    width: 36px;
    height: 38px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
}

.my-account img {
    padding-top: 9px;
}

.my-account_button {
    width: 130px;
    height: 38px;
    border-radius: 3px;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 32px;
    letter-spacing: 0.38px;
    border: none;
    margin-left: 26px;
}


.navigation {
    display: inline;
    text-align: center;
}

.nav {
    margin: 0 auto;
    width: 680px;
    display: flex;
    justify-content: space-between;
    padding-top: 19px;
    padding-bottom: 18px;
}

.nav_link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 32px;
    color: #232323;
    font-weight: 700;
    font-family: "Lato", serif;
    position: relative;
    transition: color .2s linear;
}

.nav_link:hover {
    color: #f16d7f;
}

.nav_link:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #f16d7f;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .2s linear;
}

.nav_link:hover:after {
    opacity: 1;
}

.boy-backcolor {
    background-color: #e8e8e8;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 98px;
}

.boy-photo {
    background-image: url(img/boy.jpg);
    width: 1147px;
    height: 613px;
}


.boy-photo h2 {
    color: #222222;
    font-size: 60px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    position: relative;
    padding-left: 24px;
    top: 224px;
    width: 490px;
}

.boy-photo h2::before {
    content: '';
    width: 12px;
    position: absolute;
    top: 7px;
    bottom: 7px;
    left: 0;
    background-color: #f16d7f;
}


.lux {
    display: block;
    font-style: normal;
    letter-spacing: 1px;
    line-height: normal;
    font-size: 40px;
}

.fashion {
    color: #f16d7f;
    font-style: normal;
    letter-spacing: 1px;  
}

.content {
    height: 1131px;
}

.block-photo {
    width: 1141px;
    height: 823px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.photo-men {
    background-image: url(img/for_men.jpg);
    width: 560px;
    height: 542px;
}

.text-men {
    background-color: #ffffff;
    width: 175px;
    min-height: 82px;
    margin-top: 26px;
}

.style-p {
    min-width: 136px;
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.45px;
    padding-left: 19px;
    padding-top: 16px;
}

.text-pink {
    color: #f16d7f;
    font-size: 30px;
    font-style: normal;
    letter-spacing: 0.75px;
    line-height: normal;
}

.photo-women {
    background-image: url(img/for_women.jpg);
    width: 560px;
    height: 261px;
    order: 1;
    margin-left: 14px;
}

.text-women {
    width: 162px;
    min-height: 82px;
    background-color: #ffffff;
    margin-top: 26px;
}

.photo-accesories {
    background-image: url(img/accesories_03.jpg);
    width: 560px;
    height: 261px;
    margin-top: 20px;
}

.text-accesories {
    background-color: #ffffff;
    width: 225px;
    min-height: 82px;
    margin-top: 25px;
}

.photo-kids {
    background-image: url(img/kids.jpg);
    width: 560px;
    height: 542px;
    order: 1;
    margin-top: 20px;
    margin-left: 14px;
}

.text-kids {
    background-color: #ffffff;
    width: 180px;
    min-height: 82px;
    margin-top: 26px;
}

.content-text {
    text-align: center;
    min-width: 348px;
    margin-bottom: 60px;
}

.content-text-h3 {
    color: #222222;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.75px;
    line-height: normal;
}

.content-text-p {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    text-align: center;
    font-style: normal;
    letter-spacing: 0.35px;
}

.photo-cart {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cart img:hover {
    opacity: .3;
}


.cart:nth-child(5),
.cart:nth-child(6),
.cart:nth-child(7),
.cart:nth-child(8) {
    margin-top: 60px;  
}

.cart-browse {
    background-color: #f16d7f;
    width: 212px;
    height: 48px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.4px;
    line-height: normal;
    margin-top: 79px;
    border: none;
    margin-left: 465px;
    margin-bottom: 113px;
    
}

.cart-browse:hover {
    cursor: pointer;
    background-color: oldlace;
    color: cadetblue;
}

.cart-text {
    text-transform: uppercase;
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    padding-left: 14px;
    margin-top: 19px;
    
}

.cart_cost {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
    text-align: left;
    padding-left: 13px;
    margin-top: 17px;
}

.offer {
    background-color: #222224;
    display: flex;
    margin-bottom: 97px;
}

.offer-photo {
    background-image: url(img/offer.png);
    min-width: 766px;
    min-height: 529px;
}

.offer-text {
    margin-left: 39px;
    margin-top: 146px;
    min-width: 293px;
    min-height: 78px;
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
}

.offer-pink {
    color: #f16d7f;
    font-style: normal;
    letter-spacing: 1.5px;
}

.offer-text-women {
    font-size: 32px;
    font-style: normal;
    font-size: 32px;
    font-style: normal;
    letter-spacing: 0.9px;
}

.offer-content {
    display: flex;
    flex-direction: column;
}

.free {
    height: 176px;
    width: 373px;
    display: flex;
}

.free-img {
    margin-left: 36px;
    margin-top: 48px;
}

.free-text {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 43px;
}

.free-h4 {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    letter-spacing: 0.5px;
}

.free-p {
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    letter-spacing: 0.35px;
    line-height: 24px;
    padding-top: 17px;
}

.sales {
    width: 373px;
    height: 176px;
    display: flex;
}

.sales-img {
    margin-left: 36px;
    margin-top: 48px;
}

.sales-text {
    margin-top: 50px;
    margin-left: 35px;
    margin-right: 43px;
    min-height: 95px;
    min-width: 219px;
}

.sales-h4 {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    letter-spacing: 0.5px;
}

.sales-p{
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    letter-spacing: 0.35px;
    line-height: 24px;
    padding-top: 21px;
}

.quality {
    width: 373px;
    height: 176px;
    display: flex;
}

.quality-img {
    margin-left: 32px;
    margin-top: 48px;
}

.quality-text {
    margin-left: 32px;
    margin-right: 43px;
    margin-top: 50px;
}

.quality-h4 {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    letter-spacing: 0.5px;
}

.quality-p {
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    letter-spacing: 0.35px;
    line-height: 24px;
    padding-top: 17px;
}

.subscribe {
    background-image: url("img product/Layer_41.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 438px;
}

.subscribe_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 160px;
}

.subscribe_girl {
    display: flex;
    justify-content: center;
    align-items: center;
}

.girl_text {
    width: 370px;
    padding-left: 25px;
    padding-top: 100px;
}

.girl_main_text {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.025em;
    color: #222224;
}

.girl_name {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
    padding-top: 20px;
}

.girl_address {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: #222224;
}

.ocean-border-bottom {
    display: flex;
    width: 140px;
    justify-content: space-between;
    padding-top: 40px;
}

.ocean-border {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
}

.ocean-border-pink {
    width: 38px;
    height: 4px;
    background-color: #f16d7f;
}

.ocean-subscribe {
    min-width: 386px;
    min-height: 122px;
    margin-top: 148px;
    margin-left: 165px;
    text-align: center;
}

.ocean-subscribe h2 {
    color: #222224;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.ocean-subscribe p {
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: 24px;

}

.ocean-subscribe input {
    margin-top: 35px;
    background-color: #e1e1e1;
    height: 46px;
    width: 260px;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    border: none;
    opacity: 0.67;
    color: #222224;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 54px;
    text-align: left;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: normal;
    padding-left: 20px;
}

.ocean-subscribe button {
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    width: 104px;
    height: 46px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    border: none;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: normal;
}

.ocean-subscribe button:hover {
    cursor: pointer;
    background-color: oldlace;
    color: cadetblue;
}

.contacts_menu {
    display: flex;
    margin-top: 110px;
    align-items: center;
    justify-content: space-around;
}

.logo_contacts {
    display: flex;
    flex-direction: column;
    width: 430px;
}

.contacts_text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #898989;
    white-space: pre-wrap;
    padding-top: 30px;
}

.company,
.information,
.shop_category {
    display: flex;
    flex-direction: column;
}

.company_title,
.information_title,
.shop_category_title {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
    padding-bottom: 30px;
}

.company_link,
.information_link,
.shop_category_link {
    text-decoration: none;
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #898989;
}

.company_link:hover,
.information_link:hover,
.shop_category_link:hover {
    color: #f16d7f;
}

.footer {
    background-color: #e6e6e6;
    margin-top: 90px;
}

.footer_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 33px;
    padding-bottom: 33px;
}

.copy {
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #7a7a7a;
}

.social {
    display: flex;
    flex-direction: row;
}

.social_link {
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #b2b2b2;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.social_link:hover {
    background-color: #f16d7f;
    color: #fff;
}


